@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Katibeh&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=SUSE:wght@100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nanum+Gothic+Coding:wght@400;700&family=Syne+Mono&display=swap');

/* Estilos essenciais para o corpo da página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    background-image: url(assets/Myers\ final.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Lacquer", normal;
    font-weight: normal;
    font-size: 4rem;
    color: black;
    text-align: center;
}

h2 {
    font-family: "Just Me Again Down Here";
    font-weight: normal;
    font-size: 3rem;
    color: black;
    text-align: start;
}

p {
    font-family: "Syne Mono";
    font-size: medium;
    font-weight: normal;
}

/* Estilos para seções e itens de resultado */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.header {
    background: #ffffff;
    border-radius: 0.6rem;
    padding: 2rem;
    margin: auto;
    margin-bottom: -1rem;
    box-shadow: 7px 9px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 70rem;
    text-align: center;
}

.subtitulo {
    font-family: "Nanum Gothic Coding";
    font-size: x-large;
    text-align: center;
    margin-top: -2rem;
}

.topicos {
    font-family: "Syne Mono";
    font-size: medium;
    font-weight: bold;
}

.search-bar button {
    /* Estilos para o botão */
    background-color: #000000; /* Cor de fundo verde */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

.listas {
    display: flex;
    flex-direction: column;
}

.fundo-texto {
    background: #ffffff;
    border-radius: 0.6rem;
    padding: 2rem;
    margin-bottom: -1rem;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    line-height: 100%;
    width: 40rem;
}

audio {
    display: none; /* Oculta o player */
}

/* Estilos para links */
a {
    font-family: "IM Fell DW Pica SC";
    text-decoration: underline;
    color: #000;
}

/* Estiliza o rodapé da página */
footer {
    background-color: #6e6e6e;
    color: #000;
    text-align: center;
    padding: 1rem;
}
